{% extends "base.html" %}

{% block body %}
<div class="my-10 py-3 px-4 bg-white rounded-xl shadow-md">
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Book Title</th>
        <th scope="col">Category</th>
        <th scope="col">Price</th>
        <th scope="col">Balance after Borrowing Book</th>
        <th scope="col">Borrowing Date</th>
        <th scope="col">Return</th>
      </tr>
    </thead>
    <tbody>
      {%for list in lists %}
        <tr>
          <td>{{list.id}}</td>
          <td>{{list.book.title}}</td>
          <td>{{list.book.category}}</td>
          <td>{{list.book.borrowing_price}}</td>
          <td>{{list.balanceAfter}}</td>
          <td>{{list.borrowDate}}</td>
          <td><a href="{% url "returnBook" list.book.id %}" class=" btn btn-warning btn-sm">Return Book</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}